.container {
  padding: 2rem;
  max-width: 900px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.233);
  font-family: sans-serif;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.backToDashboard {
  color: #000;
  width: min-content;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  transition: color 0.2s, background 0.2s;
  padding: 0px 12px 0px 0px;
  margin-bottom: 2.5rem;
  border-radius: 16px;
}

.backToDashboard span {
  display: inline-flex;
  align-items: center;
}

.backToDashboard:hover {
  background-color: #f0f0f0;
}
